<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/bootstrap/easyui.css}" />
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/datetimepicker/css/bootstrap.css}" />
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/datetimepicker/css/bootstrap-datetimepicker.css}" />
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/bootstrap-select/css/bootstrap-select.css}" />
    <script type="text/javascript" th:src="@{static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{static/datetimepicker/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{static/datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{static/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{static/bootstrap-select/js/bootstrap-select.js}"></script>
    <script type="text/javascript" th:src="@{static/diy-js/formatter-js.js}"></script>
    <title>三方对账成功数据</title>
    <style type="text/css">.panel-body{padding: 0px;}</style>
</head>
<div style = "margin: 10px 15px 10px 25px;">
    停车场：
    <select id="park" class="selectpicker" data-live-search="true" >
        <!--/*@thymesVar id="parkList" type="java"*/-->
        <option th:each="item,iterStat:${parkList}" th:text="${item.parkname}" th:value="${item.parkid}" ></option>
    </select>
    &nbsp;&nbsp;&nbsp;
    开始日期：<input id = "startDate" size="16" type="text" readonly class="form-control" style="width: 170px;display: inline;">&nbsp;&nbsp;&nbsp;
    结束日期：<input id = "endDate" size="16" type="text" readonly class="form-control" style="width: 170px;display: inline;">&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn dropdown-toggle" id="search" data-toggle="dropdown">搜索</button>

    <table id = "dg" class="easyui-datagrid" style="padding: 80px;display:none"
           data-options="url:'',fitColumns:true,singleSelect:true,fitColumns:true,striped:true,rownumbers:true,loadMsg:'数据处理中...'">
        <thead>
            <tr>
                <th data-options="field:'cRecordId',width:100,align:'center',halign:'center',formatter: diyFormatter">一咻流水号</th>
                <th data-options="field:'pRecordId',width:100,align:'center',halign:'center',formatter: diyFormatter">停车场流水号</th>
                <th data-options="field:'dkid',width:100,align:'center',halign:'center',formatter: diyFormatter">代扣流水号</th>
                <th data-options="field:'plateNum',width:100,align:'center',halign:'center',formatter: diyFormatter">车牌号</th>
                <th data-options="field:'cabin_paytype',width:100,align:'center',halign:'center',formatter: diyFormatter">支付类型</th>
                <th data-options="field:'cabin_originalAmount',width:100,align:'center',halign:'center',formatter: diyFormatter">一咻端应付金额</th>
                <th data-options="field:'cabin_recordAmount',width:100,align:'center',halign:'center',formatter: diyFormatter">一咻端实付金额</th>
                <th data-options="field:'cabin_couponamount',width:100,align:'center',halign:'center',formatter: diyFormatter">一咻端优惠金额</th>
                <!--<th data-options="field:'cabin_date',width:150,align:'center',halign:'center'">一咻端记录时间</th>-->
                <th data-options="field:'park_originalAmount',width:100,align:'center',halign:'center',formatter: diyFormatter">停车场端应付金额</th>
                <th data-options="field:'park_recordAmount',width:100,align:'center',halign:'center',formatter: diyFormatter">停车场端实付金额</th>
                <th data-options="field:'park_couponamount',width:100,align:'center',halign:'center',formatter: diyFormatter">停车场端优惠金额</th>
                <!--<th data-options="field:'park_date',width:150,align:'center',halign:'center'">停车场端记录时间</th>-->
                <!--<th data-options="field:'yl_id',width:100,align:'center',halign:'center'">支付渠道ID</th>-->
                <th data-options="field:'yl_money',width:100,align:'center',halign:'center',formatter: diyFormatter">支付渠道金额</th>
                <th data-options="field:'payType',width:100,align:'center',halign:'center',formatter: diyFormatter">支付渠道支付方式</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $('#dg').css("height",window.innerHeight-46);
    $('#search').on('click',function () {
        var park = $('#park').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if(park==''){
            $.messager.alert('系统消息','请选择停车场在进行搜索!!!');
            return;
        }else if(startDate==''){
            $.messager.alert('系统消息','请选择开始日期在进行搜索!!!');
            return;
        }else if(endDate==''){
            $.messager.alert('系统消息','请选择结束日期在进行搜索!!!');
            return;
        }
        var opts = $("#dg").datagrid("options");
        opts.url = "getReconciliationYesAllData";
        $('#dg').datagrid('load', {
            parkId: park,
            beginTime: startDate,
            endTime:endDate
        });
    });


</script>
<script type="text/javascript" th:src="@{static/datetimepicker/js/user-defined.js}"></script>
</html>